:root {
    --dark-bg-color: #4D1515;
    --bg-color: #992929;
    --nav-color: #752020;
    --header-color: #C73636;
    --highlight-color: #FF93A2;
    --light-blue: #88CEFC;
    --lighter-blue: #90F6FF;

    .navbar {
        background-color: var(--nav-color);
    }

    body {
        background-color: var(--dark-bg-color) !important;
    }

    .text-section {
        background-color: var(--bg-color);

        a {
            color: var(--lighter-blue) !important;
        }

        a:hover {
            color: var(--light-blue) !important;
        }

        code {
            color: var(--light-blue) !important;
            /* Standard bootstrap color has poor readability with the red color scheme I've been using */
        }

        .table {
            border-color: var(--highlight-color) !important;

            th, td {
                background-color: var(--dark-bg-color) !important;
            }
        }
    }

    .heading {
        background-color: var(--header-color);
    }

    .card {
        transition: transform .2s;
        /* Animation */
    }

    .card:hover {
        transform: scale(1.05);
        /* (1.05% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .card-href {
        text-decoration: none;
        /* Lazily added so that no underlines appear on any text inside the cards */
    }

    .contact-sec {
        background-color: var(--nav-color);
    }

    .project-container {
        max-width: 720px !important;
        /* Looks better when factoring in fluid images, and for readability as well */
    }

    .tool {
        color: white;
        text-decoration: none;
    }

    .tool-icon {
        font-size: 4rem;
        transition: font-size .2s;
    }

    .tool-icon:hover {
        font-size: 5rem;
    }


    @media (min-width: 721px) {
        .project-header {
            border-top-left-radius: .375rem;
            border-top-right-radius: .375rem;
        }

        .project-content {
            border-bottom-left-radius: .375rem;
            border-bottom-right-radius: .375rem;
        }
    }

    .accordion {
        --bs-accordion-bg: var(--dark-bg-color) !important;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--nav-color) !important;
        color: var(--highlight-color) !important;
        box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
    }

    .accordion-button::after {
        color: var(--highlight-color) !important;
    }

    /* .nav-link {
        transition: all ease .5s;
    }

    .nav-link:hover {
        cursor: pointer;
        background-color: #F04141;
    } */
}