<!doctype html>
<html lang="en">
  <div class="container text-light mt-md-4 mb-md-4 project-container">
    <div class="row text-center heading project-header">
      <div class="col py-3 px-2 px-md-5">
        <h1>JoJo's and Infinite Prevention</h1>
      </div>
    </div>
    <div class="row text-section project-content">
      <div class="col pt-3 px-2 px-md-5 justify-content-center align-items-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../src/assets/img/hftf-ips-thumbnail.jpg"
                class="d-block w-100 rounded-2 border"
                alt="JoJo's and Infinite Prevention thumbnail"
              />
            </div>
            <div class="carousel-item ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/EGYaxVYNFzQ"
                class="d-block w-100 rounded-2 border"
                title="JoJo's and Infinite Prevention"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <p class="pt-2">
          This video was designed as an exploration into, and explanation of, the Infinite
          Prevention System used by JoJo's Bizarre Adventure: Heritage for the Future. Said system
          is intended to prevent infinite combos, though it unfortunately wasn't entirely successful
          at it. Morover, the system was fairly inconsistent, to the point where no-one truly
          understood how it worked. I wanted to understand how it worked, and so I began
          investigating the process.
        </p>
        <p class="pt-2">
          If memory serves, I began exploring the code behind it during the tail end of the summer
          of 2021, after having finished the Roman Cancel Romhack. I traced through instructions via
          Mame Debugger and recorded notes in Notepad++ (though I've unfortunately lost said notes
          on the matter).
        </p>
        <p class="pt-2">
          Research was completed and the script writing began in September. I finished writing said
          script at the start of October and finished editing two weeks later.
        </p>
        <p class="pt-2">
          This project was my first time making a heavily edited video since Sophomore year of high
          school, and it took quite a bit to get things down properly. Nonetheless, I'm pretty happy
          with how it turned out.
        </p>
      </div>
    </div>
  </div>
</html>
