<!doctype html>
<html lang="en">
  <div class="container text-light mt-md-4 mb-md-4 project-container">
    <div class="row text-center heading project-header">
      <div class="col py-3 px-2 px-md-5">
        <h1>JoJo's and Damage Calculation</h1>
      </div>
    </div>
    <div class="row text-section project-content">
      <div class="col pt-3 px-2 px-md-5 justify-content-center align-items-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../src/assets/img/damage-calculation-hftf-thumbnail.jpg"
                class="d-block w-100 rounded-2 border"
                alt="JoJo's and Damage Calculation thumbnail"
              />
            </div>
            <div class="carousel-item ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/v-PdSHLJJhI"
                class="d-block w-100 rounded-2 border"
                title="JoJo's and Damage Calculation"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <p class="pt-2">
          This video was designed as an in-depth exploration into, and analysis of, the systems
          behind damage calculation in JoJo's Bizarre Adventure: Heritage for the Future. Much like
          with the Infinite Prevention System, the details were not fully known, though there was
          more to go off of compared to the former. Nevertheless, there were many more systems in
          play and the code analysis and research took far longer.
        </p>
        <p class="pt-2">
          I can no longer remember how long it took to research everything, but I'm grateful that I
          at least had the sense to migrate the notes I took into a Google Document after I finished
          research, which can be found
          <a
            href="https://docs.google.com/document/d/11Odj-kBkabRrRIGQqd2ZfXFSDIZz0jryp4NTT7ZcRIY/edit?usp=sharing"
            >here</a
          >.
        </p>
        <p class="pt-2">
          In any case, the research was finished by May 2022, though I experienced a terrible
          writer's block that kept me from finishing the script until early November. Then, after my
          university semester had finished, I rushed to get the project out before the year's end,
          and managed to do so on the last day of the year, December 31st, 2022.
        </p>
        <p class="pt-2">
          This video was a definite step up in scale, and I'm still very proud of my ability to
          replicate the Sam & Max: Beyond Time and Space intro using sprites from Heritage for the
          Future. It was arguably the longest project I ever finished, though I've since
          procrastinated on another video that, if finished, would have taken much much longer to
          get done.
        </p>
      </div>
    </div>
  </div>
</html>
