<!doctype html>
<html lang="en">
  <div class="container text-light mt-md-4 mb-md-4 project-container">
    <div class="row text-center heading project-header">
      <div class="col py-3 px-2 px-md-5">
        <h1>Looking For Group</h1>
      </div>
    </div>
    <div class="row text-section project-content">
      <div class="col pt-3 px-2 px-md-5 justify-content-center align-items-center">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
          data-bs-theme="dark"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../src/assets/img/lfg-homepage.png"
                class="d-block w-100 rounded-2 border"
                alt="Looking For Group Homepage"
              />
            </div>
            <div class="carousel-item">
              <img
                src="../src/assets/img/lfg-project-page.png"
                class="d-block w-100 rounded-2 border"
                alt="Looking For Group Project Page"
              />
            </div>
            <div class="carousel-item">
              <img
                src="../src/assets/img/lfg-my-projects-page-dark.png"
                class="d-block w-100 rounded-2 border"
                alt="Looking For Group My Projects Page and Dark Theme"
              />
            </div>
          </div>
        </div>
        <p class="pt-2">
          During my co-op with the Golisano College of Computing & Information Sciences, this was
          the project I was tasked with working on developing. I collaborated in a small team of 5
          to create a fullstack web application using a React front-end and a SQL back-end. The goal
          was to create a place for students to post about and keep up-to-date on, student led
          projects, whether personal or academic.
        </p>
        <p class="pt-2">
          Our team was managed via Agile methodologies, more specifically Scrum, and progress was
          handled through Trello. Though we usually took whatever tasks were considered most
          pressing, I generally focused on making the site responsive to mobile devices, as well as
          implementing several key components like search functionality by text and by the
          filters/tags system that was devised prior to my arrival on the project.
        </p>
        <p class="pt-2">
          I also implemented the dark theme for the site (and the ability to transition between
          themes), settings page design and functionality, and numerous other touch-ups and minor
          additions based on the Design Tokens we had.
        </p>
        <p class="pt-2">
          While progress was generally smooth, we ran into some issues throughout, notably with two
          things: Create-React-App and login system migration.
        </p>
        <p class="pt-2">
          Create-React-App, our build tool at the time, was deprecated midway through my time on the
          project. While we were able to switch to building via Vite with little trouble overall, it
          was still a roadblock in our development timeline.
        </p>
        <p class="pt-2">
          More notably however, was the issue concerning login system migration, something that came
          at the tail-end of development that I was no longer around to assist with. We had
          previously been using a proprietary login system, but we were given the opportunity to
          host the site through RIT and needed to make changes in order to do so. The primary one
          was the changing of the login system from our proprietary one, to using Shibboleth. We
          began our research into the process and started planning the implementation and changes
          necessary to make it work, but with this coming so late into my time working on the
          project, we were unable to get it done before then, and work on it has continued since.
          I'm unsure what progress on it is currently like however, as I haven't really been keeping
          up with the project. I can only hope it's doing well however.
        </p>
      </div>
    </div>
  </div>
</html>
