<!doctype html>
<html lang="en">
  <div class="container text-light mt-md-4 mb-md-4 project-container">
    <div class="row text-center heading project-header">
      <div class="col py-3 px-2 px-md-5">
        <h1>Evolution of Meter Build in UNI</h1>
      </div>
    </div>
    <div class="row text-section project-content">
      <div class="col pt-3 px-2 px-md-5 justify-content-center align-items-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../src/assets/img/uni-meterbuild-thumbnail.png"
                class="d-block w-100 rounded-2 border"
                alt="Evolution of Meter Build in Under Night In Birth thumbnail"
              />
            </div>
            <div class="carousel-item ratio ratio-16x9">
              <iframe
                src="https://www.youtube.com/embed/6jI__pVqdOU"
                class="d-block w-100 rounded-2 border"
                title="Evolution of Meter Build in Under Night In Birth"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
        <p class="pt-2">
          This video was not only an in-depth investigation into the mechanics of building meter in
          Under Night In-Birth, but also my attempt to learn DaVinci resolve, having recently
          upgraded to a computer that could handle the software. In the past I had used Adobe
          Premiere and After Effects, but was eager to switch to something that I wouldn't need to
          pay for (or be lucky enough to use through my part-time job with RIT).
        </p>
        <p class="pt-2">
          Research for this video was also substantially more difficult, as while most of the game's
          code is still available in the high-level language it was written in (Squirrel), some of
          what I needed access to was stored directly in the executable rather than in separate bin
          files. As such, I needed to dust off my debugging skills, this time with Ghidra rather
          than Mame.
        </p>
        <p class="pt-2">
          The researching stage took quite a bit longer than I would've hoped, as did the
          scriptwriting phase. I believe I began towards the start of 2025, but didn't finish the
          research until around March, and didn't finish the scriptwriting until around late April.
        </p>
        <p class="pt-2">
          Despite learning DaVinci resolve for the first time, I was able to get the hang of things
          quite quickly, and, after having used it, I don't feel any need to go back to Adobe.
          Additionally, I was able to iterate on what I had done in the prior video on Under Night,
          increasing the time text was shown on-screen, and ensuring it was always properly
          centered, as I had been neglectful of that before.
        </p>
        <p class="pt-2">
          Said process required me to learn a fair bit about fuses, and having spent time learning
          it, I'm confident I'd be able to accomplish far more with DaVinci resolve than I ever
          could with Premiere. I'm proud to have made this video, and I hope to continue making
          future videos in DaVinci resolve as well.
        </p>
      </div>
    </div>
  </div>
</html>
